body{
    background-image: url("/images/red.png");
    overflow: hidden;
}
.all{
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
}
.img1{
    position: absolute;
    width: 351.44000000000005px;
    height: 352.03999999999996px;
    left: -98px;
    top: 13.079999999999984px;
    margin-top: -64px;
    top: -51.92px;
}
.img1 > img{
    width: 350px;
}
.form{
    background: linear-gradient(90deg, rgba(217, 217, 217, 0.25) 0%, rgba(217, 217, 217, 0.15) 103.37%);
    width: 418px;
    border: 1px;
    padding: 50px;
    margin: 61px;
    border-radius: 10px;
    height: 450px;
}
.form form{
    display: flex;
    flex-direction: column;
}
.form p{
    color:#FFFFFF;
    font-size: 30px;
    font-weight: 700;
    font-family: 'Aclonica' ;
}
.form label{
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Inter';
    padding-left: 5px;
    padding-bottom: 10px;
}
.password-container{
    position: relative;

}

.fa-eye{
    position: absolute;
    top: 28%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
  }
  .form input{
    background: linear-gradient(90deg, rgba(217, 217, 217, 0.19) 0%, rgba(217, 217, 217, 0.21) 104.68%);
    width: 100%;
  padding: 12px 36px 12px 12px;
  box-sizing: border-box;
  border: none;
  border-radius: 10px;
}
.form  span{
    margin-left: 185px;
}
.form span a{
    color: #FFFFFF;
}
.form  a{
    margin-top: 70px;
    margin-left: 123px;
    
}
.form a > button{
    background: #630000;
    font-weight: 700;
    font-size: 17px;
    color: #FFFFFF;
    border-radius: 10px;
    height: 42px;
    width: 175px;
    cursor: pointer;
}
.img2{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1320px;
    margin-top: 495px;
}
.img2 > img{
    width: 350px;
}
form i{
    cursor: pointer;
    
}
.form form .no-account {
    margin-left: 125px;
    font-size: 14px;
    font-family: 'Inter';
}
.form form .no-account a{
    margin-left: 2px;
    color: #FFFFFF;
    
}
@media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{
    html{
        overflow: hidden;
    }
    body{
        overflow: hidden;
    }
    .all{
        position: relative;
    }
    .img1{
        width: 50%;
        left: -24%;
        top: -9%;
        height: 50%;
    }
    .img1 > img{
        height: 80%;
        width: 100%;
        left: 20%;
        transform: rotate(26deg);
    }
    .form{
        position: relative;
        width: 60%;
        border: 1%;
        top: 20px;
        
    }
    .form form{
        position: relative;
    }
    .form p{
        font-size: 2rem;
    }
    .form label{
        font-size: 1rem;
        font-family:'Aclonica' ;
        padding-left: 1%;
        padding-bottom: 10px;
    }
    .form  span{
        position: absolute;
        left: -95%;
        top: 60%;
    }
    .form span a{
        position: relative;
    }
    .form a > button{
        position: relative;
        font-size: 1.25rem;
        left: -110%;
    }
    .form form .no-account {
        position: relative;
        left: -55%;
        width: 100%;
        font-size: 1rem;
        font-family: 'Inter';
    }
}
