html{
  font-size: 100%;
}
body{
  background-image: url("/images/red.png");
}
.logo{
margin-left: 20px;
color: #FFC7C7;
}
figcaption{
  color: #FFFFFF;
  font: 1em;
}
.search-box{
display: flex;
align-items: center;
position: relative;
margin-left: 291px;
margin-top: -7px;
height: 65px;
width: 600px;
justify-content: space-between;
}
.voice{
  display: flex;
  align-items: center;
}
/* .voice input{
  margin: 27px;
  height: 60px;
} */
.fa-magnifying-glass{
  position: absolute;
  top: 25%;
  left: -2%;
  cursor: pointer;
  color: #FFFFFF;
  size: 40px;
}
.voice input{
  background: linear-gradient(90deg, rgba(217, 217, 217, 0.19) 0%, rgba(217, 217, 217, 0.21) 104.68%);
  width: 450px;
  margin: 27px;
  height: 60px;
  padding-left: 15px;
  border-radius: 25px;
  border: none;
  border-width: 1px;
} 
.voice input::placeholder{
color: #FFFFFF;
}
.fa-microphone{
position: absolute;

cursor: pointer;
size: 0px;
color: #FFFFFF;
margin-left: 485px;
}
.fa-microphone:hover{
color: rgba(0, 0, 0, 0.5);;
}
.btn-light{
position: relative;
width: 93px;
height: 50px;
margin-left: 15px;
color: #FFFFFF;
border-radius: 10px;
background: rgba(0, 0, 0, 0.5);
}
.img-txt{
  width: 392px;
  height: 63px ;
  margin-top: 120px;
  margin-left: 20px;
}
.box-1{
  display: flex;
flex-direction: column;
width: 400px;
}
.box-1 p{
color: #FFC7C7;
margin-left: 20px;
margin-top: 50px;
}
.grid { 
    display: grid;
    padding: 30px 55px;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    grid-gap:2vw;;
    align-items: stretch;
    }
  .grid article {
    /* border: 1px solid #ccc; */
    max-height: 450px;
    max-width: 420px;
    /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  }
  .grid article img {
    object-fit:contain;
  }
  .text h4{
    color: #FFFFFFE5;
    font-size: 28px;
  }
  .text button {
    background: #FFC7C7;
    size: 12px;
    font-weight: 600;
    color: #000000;
    padding: 8px;
    width: 94px;
    border-radius: 30px;
    float: right;
  }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 360px) 
{
  html{
    overflow-x: hidden;
    font-size: 50%;
    
}
body{
  overflow-x: hidden;
  size: 60%;
}
.navbar{
    display: inline;
    position: relative ;
}
.logo{
    position:static;
    margin-left: 2%;
    max-width: 50%;
}
.search-box{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 2%;
    left: -70vw;
    max-width: 40vw;
    max-height: 20vw;
}
.search-box input{
  max-width: 45vw;
  
  margin-left: 0vw;

  max-height: 10vw;
}
.search-box input::placeholder{
    font-size: 1.5rem;
}
.fa-microphone{
    position: relative;
    margin-left: -12vw;
    top: 10%;
}
.btn-light{
    position: relative;
    font-size: 1.5rem;
    max-height: 150vw;
    max-width: 150vw;
}
.grid { 
    display: grid;
    
    /* padding: 5% 7%; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: auto;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    grid-gap:2vw;
    align-items:center;
    }
  .grid article {
    /* border: 1px solid #ccc; */
    max-height: 100%;
    /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  }
  .grid article img {
    max-height: 60%;
    max-width: 100%;
  }
  .text h4{
    font-size: 2rem;
  }
  .text button {
    position: relative;
    left: 0vw;
    max-width: 20%;
    font-weight: 600;
    padding: 1%;
    font-size: 1.5rem;
  }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 600px) and (min-width:361px)
{ 
  html{
    overflow-x: hidden;
    font-size: 80%;
    
}
body{
  overflow-x: hidden;
  size: 60%;
  font-size: 1rem;
}
.navbar{
    display: inline;
    justify-content: center;
    position: static ;
    left: -8%;
}
.logo{
    position:static;
    margin-left: 1%;
    max-width: 50%;
}
figcaption{
  font-size: 1rem;
}
.search-box{
    display: flex;
    position: static;
    /* justify-content: right; */
    /* margin-top: -10%; */
    margin-left: -1%;
    left: -1%;
    max-width: 40%;
    max-height: 20%;
}
.search-box input{
  max-width: 45vw;
  
  margin-left: 0vw;

  max-height: 10vw;
}
.search-box input::placeholder{
    font-size: 1.15rem;
}
.fa-microphone{
    position: relative;
    margin-left: -12vw;
    top: 10%;
}
.btn-light{
    position: relative;
    font-size: 1.2rem;
    max-height: 100%;
    margin-left: 5%;
    max-width: 100%;
}
.grid { 
    display: grid;
    
    /* padding: 5% 7%; */
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: auto;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    grid-gap:2vw;
    justify-content: center;
    align-items:center;
    }
  .grid article {
    /* border: 1px solid #ccc; */
    max-height: 100%;
    /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  }
  .grid article img {
    max-height: 60%;
    max-width: 100%;
  }
  .text h4{
    font-size: 2rem;
  }
  .text button {
    position: relative;
    left: 0vw;
    max-width: 20%;
    font-weight: 600;
    padding: 1%;
    font-size: 1.5rem;
  }


}




@media only screen and (min-width: 768px) 
{

}

@media only screen and (min-width: 992px) 
{

}


@media only screen and (min-width: 1200px) 
{

}


