html{
  font-size: 100%;
}
body{
  background-image: url("/images/red.png");
}
.logo{
margin-left: 20px;
color: #FFC7C7;
}
figcaption{
  color: #FFFFFF;
  font: 1em;
}
.search-box{
display: flex;
align-items: center;
position: relative;
margin-left: 291px;
margin-top: -7px;
height: 65px;
width: 600px;
justify-content: space-between;
}
.voice{
  display: flex;
  align-items: center;
}
/* .voice input{
  margin: 27px;
  height: 60px;
} */
.fa-magnifying-glass{
  position: absolute;
  top: 25%;
  left: -2%;
  cursor: pointer;
  color: #FFFFFF;
  size: 40px;
}
.voice input{
  background: linear-gradient(90deg, rgba(217, 217, 217, 0.19) 0%, rgba(217, 217, 217, 0.21) 104.68%);
  width: 450px;
  margin: 27px;
  height: 60px;
  padding-left: 15px;
  border-radius: 25px;
  border: none;
  border-width: 1px;
} 
.voice input::placeholder{
color: #FFFFFF;
}
.fa-microphone{
position: absolute;

cursor: pointer;
size: 0px;
color: #FFFFFF;
margin-left: 485px;
}
.fa-microphone:hover{
color: rgba(0, 0, 0, 0.5);;
}
.btn-light{
position: relative;
width: 93px;
height: 50px;
margin-left: 15px;
color: #FFFFFF;
border-radius: 10px;
background: rgba(0, 0, 0, 0.5);
}
.img-txt{
  width: 392px;
  height: 63px ;
  margin-top: 120px;
  margin-left: 20px;
}
.box-1{
  display: flex;
flex-direction: column;
width: 400px;
}
.box-1 p{
color: #FFC7C7;
margin-left: 20px;
margin-top: 50px;
}
.grid { 
    display: grid;
    padding: 30px 55px;
    /* grid-template-rows: 1fr 1fr 1fr; */
    grid-template-columns: 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
    grid-gap:2vw;;
    align-items: stretch;
    }
  .grid article {
    /* border: 1px solid #ccc; */
    max-height: 450px;
    max-width: 420px;
    /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
  }
  .grid article img {
    object-fit:contain;
  }
  .text h4{
    color: #FFFFFFE5;
    font-size: 28px;
  }
  .text button {
    background: #FFC7C7;
    size: 12px;
    font-weight: 600;
    color: #000000;
    padding: 8px;
    width: 94px;
    border-radius: 30px;
    float: right;
  }


  @media only screen and (-webkit-min-device-pixel-ratio: 2),
                    only screen and (min--moz-device-pixel-ratio: 2),
                    only screen and (-o-min-device-pixel-ratio: 2/1),
                    only screen and (min-device-pixel-ratio: 2)
{ 
    html{
        font-size: 50%;
    }
    .navbar{
        display: inline;
        position: relative ;
    }
    .logo{
        margin-left: 0%;
        width: 70%;
    }
    .search-box{
        display: flex;
        position: absolute;
        left:-60%;
        top: 40%;
        width: 40%;
        height: 40%;
    }
    .search-box input{
      max-width: 40%;
      max-height: 35px;
    }
    .fa-magnifying-glass{
        position: relative;
        top: 75%;
        left: -2%;
        size: 20rem;
    }
    .search-box input::placeholder{
        font-size: 1.5rem;
    }
    .fa-microphone{
        position: absolute;
        left: -190%;
        top: 20%;
    }
    .btn-light{
        position: absolute;
        left: 145%;
        font-size: 1.5rem;
        height: 140%;
        width: 45%;
    }
    .grid { 
        display: grid;
        padding: 5% 7%;
        /* grid-template-rows: 1fr 1fr 1fr; */
        grid-template-columns: auto;
        /* grid-template-columns: repeat(auto-fill, minmax(360px, 1fr)); */
        grid-gap:2vw;
        align-items:center;
        }
      .grid article {
        /* border: 1px solid #ccc; */
        max-height: 100%;
        /* box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3); */
      }
      .grid article img {
        max-height: 100%;
        max-width: 100%;
      }
      .text h4{
        font-size: 3rem;
      }
      .text button {
        width: 30%;
        font-weight: 600;
        padding: 2%;
        font-size: 1.5rem;
      }
    
  }
  